<navbar>
    <div class="contactinfo row">
        <div class="center-xs center-sm start-md start-lg col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <a href="https://goo.gl/maps/irqpEsKTbT6hZXW29" target="_blank"><i class="icon-location2"></i> 551 S. Kepler Rd, DeLand, FL 32724</a>
            <a href="tel:3867362948"><i class="icon-phone"></i> (386) 736-2948</a>
        </div>
        <div class="social end-md end-lg col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <a href="https://twitter.com/firstdeland" target="_blank"><i class="icon-twitter"></i></a>
            <a href="https://www.facebook.com/firstassemblydeland" target="_blank"><i class="icon-facebook2"></i></a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="middle-xs center-xs middle-sm center-sm start-md top-md start-lg top-lg">
                <a href="/"><img src="/static/logo.png" class="logo" /></a>
            </div>
        </div>
        <div class="nav col-xs-12 col-sm-12 col-md-6 row middle-xs center-xs middle-sm center-sm bottom-md end-md bottom-lg end-lg">
            <div class="row middle-xs end-xs">
                <a href="/about-us/">About</a>
                <a href="/events/">Calendar</a>
                <a href="https://www.youtube.com/user/firstdeland/videos" target="_blank">Watch Online</a>
                <a href="https://firstdeland.churchcenter.com/giving" class="give button" target="_blank">Give</a>
            </div>
        </div>
    </div>
</navbar>
