<div class="schedule row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div>
            <h3>Sundays at 10am</h3>
            Drive-in church and church online
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div>
            <h3>Wednesdays at 6:30pm</h3>
            Bible study (online only)
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div>
            <h3>Thursdays at 6pm</h3>
            MEGA Men (via <a href="https://zoom.us/j/608213572">Zoom</a>)
        </div>
    </div>
</div>