<div class="schedule row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div>
            <h3>Sundays</h3>
            10am Inside church and online
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div>
            <h3>Wednesdays at 6:30pm</h3>
            Bible study (on-site and online)
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div>
            <h3>Thursdays at 6pm</h3>
            MEGA Men (on-site and via <a href="https://zoom.us/j/3867362948">Zoom</a>)
        </div>
    </div>
</div>
