<!DOCTYPE html>
<html lang="">
    {% include head.html %}

    <body>
        {% include navbar.html %}

        <div class="hero">
            <div class="content">
                <div>
                    First Assembly Deland is a community caring church. We lovingly reach out to our neighbors as lighthouses of prayer as well as to our community through Project Light to the homeless and needy, community calls to prayer, and outreaches into the marketplace, schools and those in governmental leadership.
                </div>
        
                <div class="end-xs end-sm end-md end-lg about">
                    <a href="/about">More about us &raquo;</a>
                </div>
            </div>
        </div>

        <div class="content">{{ content }}</div>

        {% include footer.html %}
    </body>
</html>
