<!DOCTYPE html>
<html lang="">
    {% include head.html %}

    <body>
        {% include navbar.html %}

        <div class="banner"></div>
        <div class="mission">
            <div class="statement">
                First Assembly Deland is a community caring church. We lovingly reach out to our community, to those in need, into the marketplace, schools and governmental areas.
                <a href="/about-us/"><em>More about us &raquo;</em></a>
            </div>
        </div>
        
        <div class="home content">{{ content }}</div>

        {% include footer.html %}
    </body>
</html>
