@import "flexboxgrid";
@import "./icomoon.scss";

$primary-color: #b6121b;
$link-color: #3f3f3f;
$mobile-breakpoint: 1023px;
$alabaster: #fafafa;
$content-width: 940px;

body {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 24px;
}

h1 {
    margin: 28px 0;
}

h2 {
    margin: 22px 0;
}

a {
    color: $link-color;
}

navbar a {
    text-decoration: none;
}

button,
a.button {
    background-color: $primary-color;
    color: #fff;
    border-radius: 4px;
    padding: 6px 12px;
}

.give.button {
    font-size: 22px;
}

.contactinfo {
    font-size: 75%;
    color: #666;
    margin-bottom: 16px;

    .icon-phone {
        padding-left: 20px;
    }

    .social {
        font-size: 16px;

        a {
            padding: 6px 0 6px 8px;
        }

        @media screen and (max-width: $mobile-breakpoint) {
            display: none;
        }
    }
}

.content,
navbar {
    max-width: $content-width;
    margin: 16px auto 24px;
    display: block;

    @media screen and (max-width: $mobile-breakpoint) {
        margin: 16px;
    }
}

.home {
    &.content {
        margin-top: 48px;
    }

    h2 {
        margin-top: 48px;
    }

    iframe {
        overflow: hidden;
    }
}

.divider {
    background-color: #ccc;
    height: 1px;
    box-shadow: 0 2px 5px #ccc;
}

#breadcrumbs {
    font-size: 13px;
}

navbar {
    .nav {
        a {
            margin-left: 24px;

            @media screen and (max-width: $mobile-breakpoint) {
                margin-left: 16px;
            }
        }
    }
}

.logo {
    max-width: 345px;

    @media screen and (max-width: $mobile-breakpoint) {
        max-width: 210px;
        margin-bottom: 16px;
    }
}

.schedule,
.social {
    margin-bottom: 16px;

    > div > div {
        text-align: center;
        background-color: #d9d9d9;
        padding: 8px 0;
        margin: 8px auto;
        box-shadow: 1px 1px 3px #ddd;
        border-radius: 3px;
    }

    h3 {
        margin: 8px;
    }
}

.social {
    a {
        text-decoration: none;
    }
}

.banner {
    background-image: url("/static/tower.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 220px;
    background-position: 33% 33%;

    @media screen and (max-width: $mobile-breakpoint) {
        min-height: 150px;
    }
}

.mission {
    background-color: #1f1f1a;
    color: $alabaster;
    display: flex;

    a {
        color: $alabaster;
    }

    .statement {
        max-width: 940px;
        margin: 16px auto;

        a {
            padding-left: 8px;
        }

        @media screen and (max-width: $mobile-breakpoint) {
            font-size: 14px;
            margin: 8px;

            a {
                display: block;
                float: right;
                padding: 0;
            }
        }
    }
}

.hero {
    background-color: $link-color;
    background-size: cover;
    background-position: 33% 33%;
    color: $alabaster;
    font-size: 20px;
    min-height: 150px;
    display: flex;
    flex: 1;

    a {
        color: $alabaster;
    }

    .about {
        font-size: initial;
    }

    @media screen and (max-width: $mobile-breakpoint) {
        font-size: 16px;
    }

    &.megamen {
        background-image: url("/static/megamen.jpg");
    }

    &.wednesday {
        background-image: url("/static/bible_study.jpg");
    }

    &.sunday {
        background-image: url("/static/morning.jpg");
        background-position: top left;

        a {
            color: $link-color;
        }
    }

    &.live {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 150px;
        box-shadow: 1px 1px 5px #666;

        a {
            padding: 64px;
            text-align: center;
            text-decoration: none;

            h2 {
                margin: 0;
            }
        }
    }
}

.staff {
    .col-lg-4 {
        margin-bottom: 22px;

        .title,
        .phone {
            color: $link-color;
            font-size: 14px;
            line-height: 18px;
        }

        h2 {
            margin-bottom: 8px;
        }

        .phone {
            margin-bottom: 8px;
        }
    }
}

.component-live {
    margin-bottom: 16px;
}

.image-responsive {
    width: 100%;
    height: auto;
}

.promotion {
    display: flex;
    align-items: center;
}
