@import "flexboxgrid";
@import "./icomoon.scss";

$primary-color: #b6121b;
$link-color: #3f3f3f;
$mobile-breakpoint: 1023px;
$alabaster: #fafafa;

body {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 24px;
}

h1 {
    margin: 28px 0;
}

h2 {
    margin: 22px 0;
}

.home h2 {
    margin-top: 48px;
}

a {
    text-decoration: none;
    color: $link-color;
}

button, a.button {
    background-color: $primary-color;
    color: #fff;
    border-radius: 4px;
    padding: 6px 12px;
}

.give.button {
    font-size: 22px;
}

.contactinfo {
    font-size: 75%;
    color: #666;
    margin-bottom: 16px;

    .icon-phone {
        padding-left: 20px;
    }

    .social {
        font-size: 16px;

        a {
            padding: 6px 0 6px 8px;
        }

        @media screen and (max-width: $mobile-breakpoint) {
            display: none;
        }
    }
}

.content, navbar {
    max-width: 940px;
    margin: 16px auto 24px;
    display: block;

    @media screen and (max-width: $mobile-breakpoint) {
        margin: 16px;
    }
}

.divider {
    background-color: #ccc;
    height: 1px;
    box-shadow: 0 2px 5px #ccc;
}

#breadcrumbs {
    font-size: 13px;
}

navbar {
    .nav {
        a {
            margin-left: 24px;

            @media screen and (max-width: $mobile-breakpoint) {
                margin-left: 16px;
            }

        }
    }
}

.logo {
    max-width: 345px;

    @media screen and (max-width: $mobile-breakpoint) {
        max-width: 210px;
        margin-bottom: 16px;
    }
}

.schedule {
    margin-bottom: 16px;
}

.hero {
    background-color: $link-color;
    background-image: url("/assets/tower.jpg");
    background-size: cover;
    background-position: 33% 0%;
    color: $alabaster;
    font-style: italic;
    font-size: 22px;
    padding: 32px 0;

    .about {
        font-size: initial;
    }

    a {
        color: $alabaster;
    }

    @media screen and (max-width: $mobile-breakpoint) {
        font-size: 18px;
    }

    &.megamen {
        background-image: url("/assets/megamen.jpg");
    }

    &.sunday {
        background-image: url("/assets/morning.jpg");

        a {
            color: $link-color;
        }
    }

    &.live {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 150px;
        font-style: normal;
        box-shadow: 1px 1px 5px #666;

        a {
            padding: 50px;
            text-align: center;

            h2 {
                margin: 0;
            }
        }
    }
}

.component-live {
    margin-bottom: 16px;
}

.image-responsive {
    width: 100%;
    height: auto;
}

.promotion {
    filter: grayscale(1) contrast(1.25);
}